<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianji.promotion.mapper.UserCouponMapper">
    <!-- 查询用户优惠券 -->
    <select id="queryCouponByUserCouponIds" resultType="com.tianji.promotion.domain.po.Coupon">
        SELECT c.id, c.discount_type, c.`specific`, c.discount_value, c.threshold_amount,
        c.max_discount_amount, uc.id as user_coupon_id
        FROM user_coupon uc
        INNER JOIN coupon c on uc.coupon_id = c.id
        WHERE uc.coupon_id IN
        <foreach collection="couponsIds" separator="," item="id" open="(" close=")">
            #{id}
        </foreach>
        AND uc.status = #{status}
    </select>
</mapper>
